.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea755d;
    border-radius: 20px;
    padding: 5%;
    width: 550px;
    color: #fefbf5;
    text-align: left;
    margin-bottom: 2%;
}

.amount {
    font-size: xx-large;
    font-weight: bold;
}

.balance {
    display: flex;
    flex: 1;
    align-items: center;
}

.cashInButton {
    margin-left: 3%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contentTitle {
    margin-bottom: 5%;
}

.contentMessage {
    margin-top: 20%;
}

img {
    height: 100px;
    width: auto;
}